body {
  background-color: #EEF0F2;
  color: #16191E;
  margin: 0px;
  body: 0px;
}

#social {
  background-color: #9E1C29;
  padding: 10px;
  width: 100%;
}

a {
  color: #16191E;
  background-color: #EEF0F2;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  margin: 3px;
}

#navBar {
  background-color: #9E1C29;
  width: 100%;
}

.navEl {
  background-color: #991B28;
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  height: 100%;
  margin: 0px;
}

.navEl:hover {
  background-color: #AFC4D8;
}
