body {
  background-color: #EEF0F2;
  color: #16191E;
  margin: 0px;
  font-family: "Arial", sans-serif;
}

#navBar {
  background-color: #16191E;
  width: 100%;
  color: #EEF0F2;
  position: fixed;
  top: 0;
  left: 0;
}

.navEl {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  height: 100%;
  margin: 0px;
  font-size: 26px;
  color: #EEF0F2;
  text-decoration: none;
}

.navEl:hover {
  background-color: #EEF0F2;
  color: #16191E;

}

.jump {
  color: #EEF0F2;
}

#jump1 {
  height: 26px;
}

#jump2 {
  height: 24px;
}

.test {
  height: 1000px;
}

.social {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  height: 100%;
  margin: 0px;
  text-decoration: none;
  color: #EEF0F2;
  background-color: #16191E;
  font-size: 24px;
}

.proj {
  color: #16191E;
}

.block {
  max-width: 60%;
  margin-left: 10%;
}
